body {
    background-color: beige;
    font-family: 'Ubuntu Mono', monospace;
    font-size: large;
}

button {
    border-radius: 4px;
    padding: 6px 12px;
    border: none;
    background-color: rgba(30, 30, 119, 0.25);
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}